<tr class="coll athing comtr" id="28984639">
                                        <td>
                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            class="ind"
                                                            indent="0"
                                                        >
                                                            <img
                                                                src="./The fatiguing effects of camera use in virtual meetings _ Hacker News_files/s.gif"
                                                                height="1"
                                                                width="0"
                                                            />
                                                        </td>
                                                        <td
                                                            valign="top"
                                                            class="
                                                                nosee
                                                                votelinks
                                                            "
                                                        >
                                                            <center>
                                                                <a
                                                                    id="up_28984639"
                                                                    onclick='return vote(event, this, "up")'
                                                                    href="https://news.ycombinator.com/vote?id=28984639&amp;how=up&amp;auth=b583dffd4b8b7a73c59f401d3741d9c56bcb4baa&amp;goto=item%3Fid%3D28983859#28984639"
                                                                    ><div
                                                                        class="
                                                                            votearrow
                                                                        "
                                                                        title="upvote"
                                                                    ></div
                                                                ></a>
                                                            </center>
                                                        </td>
                                                        <td class="default">
                                                            <div
                                                                style="
                                                                    margin-top: 2px;
                                                                    margin-bottom: -10px;
                                                                "
                                                            >
                                                                <span
                                                                    class="
                                                                        comhead
                                                                    "
                                                                >
                                                                    <a
                                                                        href="https://news.ycombinator.com/user?id=crummy"
                                                                        class="
                                                                            hnuser
                                                                        "
                                                                        >crummy</a
                                                                    >
                                                                    <span
                                                                        class="
                                                                            age
                                                                        "
                                                                        title="2021-10-25T05:07:55"
                                                                        ><a
                                                                            href="https://news.ycombinator.com/item?id=28984639"
                                                                            >2
                                                                            minutes
                                                                            ago</a
                                                                        ></span
                                                                    >
                                                                    <span
                                                                        id="unv_28984639"
                                                                    ></span
                                                                    ><span
                                                                        class="
                                                                            par
                                                                        "
                                                                    ></span>
                                                                    <a
                                                                        class="
                                                                            togg
                                                                        "
                                                                        n="1"
                                                                        href="javascript:void(0)"
                                                                        onclick="return toggle(event, 28984639)"
                                                                        >[1
                                                                        more]</a
                                                                    ><span
                                                                        class="
                                                                            onstory
                                                                        "
                                                                    ></span>
                                                                </span>
                                                            </div>
                                                            <br />
                                                            <div
                                                                class="
                                                                    noshow
                                                                    comment
                                                                "
                                                            >
                                                                <span
                                                                    class="
                                                                        commtext
                                                                        c00
                                                                    "
                                                                    >As someone
                                                                    in a
                                                                    leadership
                                                                    role is it
                                                                    more
                                                                    important to
                                                                    keep the
                                                                    camera
                                                                    on?</span
                                                                >
                                                                <div
                                                                    class="
                                                                        reply
                                                                    "
                                                                >
                                                                    <p>
                                                                        <font
                                                                            size="1"
                                                                        >
                                                                            <u
                                                                                ><a
                                                                                    href="https://news.ycombinator.com/reply?id=28984639&amp;goto=item%3Fid%3D28983859%2328984639"
                                                                                    >reply</a
                                                                                ></u
                                                                            >
                                                                        </font>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>