<tr>
    <td bgcolor="#ff6600">
        <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            style="padding: 2px"
        >
            <tbody>
                <tr>
                    <td style="width: 18px; padding-right: 4px">
                        <a href="http://hackers.hopto.org:13001/"
                            ><img
                                src="https://news.ycombinator.com/y18.gif"
                                width="18"
                                height="18"
                                style="
                                    border: 1px #ffffff solid;
                                    vertical-align: middle;
                                "
                        /></a>
                    </td>
                    <td style="line-height: 12pt; height: 10px">
                        <span class="pagetop"><b>Submit</b></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
