<tr class="athing" id="28942189">
    <td align="right" valign="top" class="title">
        <span class="rank">1.</span>
    </td>
    <td valign="top" class="votelinks">
        <center>
            <a
                id="up_28942189"
                onclick='return vote(event, this, "up")'
                href="https://news.ycombinator.com/vote?id=28942189&amp;how=up&amp;auth=c55b65207d9174d1520e607763c1d1bbc1aeab1b&amp;goto=news"
                ><div class="votearrow" title="upvote"></div
            ></a>
        </center>
    </td>
    <td class="title">
        <a href="https://danluu.com/look-stupid/" class="titlelink"
            ><%= post.title %></a
        >
    </td>
</tr>
<tr>
    <td colspan="2"></td>
    <td class="subtext">
        <span class="score" id="score_28942189">464 points</span>
        by
        <a href="https://news.ycombinator.com/user?id=ZephyrBlu" class="hnuser"
            >ZephyrBlu</a
        >
        <span class="age" title="2021-10-21T09:25:06"
            ><a href="https://news.ycombinator.com/item?id=28942189"
                >5 hours ago</a
            ></span
        >
        <span id="unv_28942189"></span> |
        <a
            href="https://news.ycombinator.com/hide?id=28942189&amp;auth=c55b65207d9174d1520e607763c1d1bbc1aeab1b&amp;goto=news"
            onclick="return hidestory(event, this, 28942189)"
            >hide</a
        >
        |
        <a href="https://news.ycombinator.com/item?id=28942189"
            ><%= post.comments %>&nbsp;comments</a
        >
    </td>
</tr>
<tr class="spacer" style="height: 5px"></tr>
