openapi: 3.0.1
info:
  version: 1.0.0
  title: HackerNews
  description: "This is the Open API documentation for the REST API of our beloved application **HackerNews** deployed at <https://asw.raulplesa.online/>."
servers:
  - url: 'https://asw.raulplesa.online/'
paths:
  /index:
    get:
      tags:
      - Posts
      summary: Retrieves all the Posts, sorted by number of upvotes
      operationId: index
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
  /newest:
    get:
      tags:
      - Posts
      summary: Retrieves all the Posts, sorted by date of creation
      operationId: newest
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
  /ask:
    get:
      tags:
      - Posts
      summary: No sé qué coño hace KEKW
      operationId: ask
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
  /item/{itemId}:
    get:
      tags:
      - Posts
      summary: Finds a Post by its ID
      description: Returns a single Post
      operationId: getPostById
      parameters:
      - name: itemId
        in: path
        description: ID of Post to return
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        404:
          description: 'Error: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
              examples:
                errorExample:
                  $ref: '#/components/examples/error404'
    post:
      tags:
      - Comments
      summary: Posts a comment for the Post identified by the ID
      operationId: itemComment
      parameters:
      - name: itemId
        in: path
        description: Post id to comment on
        content:
          application/json:
            schema:
              required:
              - Comment
              type: object
              properties:
                text:
                  type: string
                  minLength: 4
                  maxLength: 280
                  example: 'My comment text'
        required: true
      responses:
        200:
          description: Comment Posted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        404:
          description: 'Error: Post Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
              examples:
                errorExample:
                  $ref: '#/components/examples/error404'
    delete:
      tags:
      - Posts
      summary: Deletes a Post
      operationId: deletePost
      parameters:
      - name: itemId
        in: path
        description: Post id to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Post deleted
          content:
            application/json: {}
        404:
          description: 'Error: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
              examples:
                errorExample:
                  $ref: '#/components/examples/error404'
        401:
          description: 'Error: Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
              examples:
                errorExample:
                  $ref: '#/components/examples/error401'
        403:
          description: 'Error: Forbidden'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
              examples:
                errorExample:
                  $ref: '#/components/examples/error403'
      security:
      - ApiKeyAuth: []
  /item:
    post:
      tags:
      - Posts
      summary: Adds a new post to the site
      operationId: submitPost
      requestBody:
        description: Provide the author and content of the new Post
        content:
          application/json:
            schema:
              required:
              - Post
              type: object
              properties:
                title:
                  type: string
                  minLength: 4
                  example: 'My Post title'
                text:
                  type: string
                  minLength: 4
                  maxLength: 280
                  example: 'My post content'
                url:
                  type: string
                  minLength: 4
                  maxLength: 280
                  example: 'https://www.google.com'
        required: true
      responses:
        201:
          description: Post created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddPostResult'
        400:
          description: 'Error: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
              examples:
                errorExample:
                  $ref: '#/components/examples/error400'
  /item/{itemId}/likes:
    post:
      tags:
      - Posts
      summary: Likes a Post
      operationId: likePost
      parameters:
      - name: itemId
        in: path
        description: Post id to like
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Liked Post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        404:
          description: 'Error: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
              examples:
                errorExample:
                  $ref: '#/components/examples/error404'
    
components:
  schemas:
    Post:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 2
        type:
          type: string
          minLength: 4
          example: 'Post'
        author:
          type: string
          minLength: 4
          example: 'my username'
        content:
          type: string
          minLength: 4
          maxLength: 280
          example: 'My content'
        upvotes:
          type: integer
          format: int32
          example: 3
        created_at:
          type: string
          format: date-time
          example: "02/01/2022"
        _links:
          type: object
          properties:
            self:
              type: string
              format: url
              example: 'https://asw.raulplesa.online/item/2'
    AddPostResult:
      type: object
      properties:
        new_Post:
          $ref: '#/components/schemas/Post'
        api_key:
          type: string
          example: "MjAyMC0wNC0xOCAxMjoyODo0MSBVVEM=\n"
    ErrorResult:
      type: object
      properties:
        status:
          type: integer
          enum: [400, 401, 403, 404, 409]
        error: 
          type: string
          enum: ["Bad Request", "Unauthorized", "Forbidden", "Not Found", "Conflict"]
        message: 
          type: string
    Comment:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 4
        type:
          type: string
          minLength: 4
          example: 'Comment'
        author:
          type: string
          minLength: 4
          example: 'my username'
        content:
          type: string
          minLength: 4
          maxLength: 280
          example: 'My Comment text'
        upvotes:
          type: integer
          format: int32
          example: 3
        created_at:
          type: string
          format: date-time
          example: "02/01/2022"
        _links:
          type: object
          properties:
            self:
              type: string
              format: url
              example: 'https://asw.raulplesa.online/item/4'
    AddCommentResult:
      type: object
      properties:
        new_Post:
          $ref: '#/components/schemas/Comment'
        api_key:
          type: string
          example: "MjAyMC0wNC0xOCAxMjoyODo0MSBVVEM=\n"
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 2
        username:
          type: string
          minLength: 4
          example: 'RaulPlesa'
        about:
          type: string
          minLength: 4
          example: 'description about me'
        karma:
          type: integer
          format: int64
          example: 250
        upvotes:
          type: integer
          format: int32
          example: 3
        created_at:
          type: string
          format: date-time
          example: "02/01/2022"
        _links:
          type: object
          properties:
            self:
              type: string
              format: url
              example: 'https://asw.raulplesa.online/user/2'
  examples:
    error400:
      value:
        status: 400
        error: "Bad Request"
        message: "Content is too long (maximum is 280 characters)"
    error401:
      value:
        status: 401
        error: "Unauthorized"
        message: "You provided no api key (X-API-KEY Header)"
    error403:
      value:
        status: 403
        error: "Forbidden"
        message: "Your api key (X-API-KEY Header) is not valid"
    error404:
      value:
        status: 404
        error: "Not Found"
        message: "No Contribution with that ID"
 
 